body
{
    background-color: rgba(0, 0, 0, 0.558);
    font-family: Arial, Helvetica, sans-serif;
}
caption
{
    color: white;
    font-size: 1.5em;
}
table
{
    width: 600px;
    height: 400px;
    border-collapse: collapse;
    background-color: white;
}
th, td
{
    border: 3px solid black;
    padding: 10px;
}
th
{
    background-color: lightgray;
}
.mulheres
{
    background-color: lightpink;
}
.homens
{
    background-color: lightblue;
}
.nome
{
    font-weight: bold;
}
.filme
{
    background-color: lightgreen;
}