body
{
    font: normal 16px arial, verdana, serif;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.558);
    color: aliceblue;
}

h1
{
    text-align: center;
}

h2
{
    text-align: center;
}

.subtitulo
{
    color: aqua;
    text-shadow: 2px 2px 3px rgb(0, 155, 155);
}

.caixa
{
    margin-left: 80%;
    background-color: black;
    border-radius: 20px;
    padding: 5px;
    width: 130px;
    box-shadow: 2px 2px 10px black;
}

p
{
    text-align: justify;
    text-indent: 30px;
}

p#letra
{
    font-family: monospace;
}