@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}
*{
    margin: 0px;
    padding: 0px;
}
:root
{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'android', cursive;
}

a.externo::after
{
    content: '\1F517';
}

body
{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

header
{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    padding-top: 30px;
    min-height: 150px;
    
    text-align: center;
    text-shadow: 2px 2px 0px #0000003a;
}
header > h1 
{
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;

    margin-bottom: 30px;
}
header > p
{
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;

    max-width: 500px;
    margin: auto;
    padding: 0px 10px;
    margin-bottom: 30px;
}

nav
{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px #00000056;
}
nav > a
{
    color: var(--cor0);
    text-decoration: none;
    font-weight: bold;

    padding: 10px;
    border-radius: 5px;
    transition-duration: .5s;
}
nav >a:hover
{
    background-color: var(--cor1);
    color:var(--cor5);
}

main
{
    min-width: 300px;
    max-width: 1000px;

    margin: auto;
    margin-bottom: 30px;
    padding: 20px;

    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 10px #0000008a;

    background-color: white;
}
main h1
{
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;

}
main h2
{
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.2em;
    background-image: linear-gradient(to right, var(--cor0), transparent);
    font-weight: normal;

    text-indent: 8px;
}
main p
{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}
main strong
{
    color: var(--cor4);
    font-weight: bold;
}
main a
{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor0);
    padding: 2px 4px;
}
main a:hover
{
    text-decoration: underline;
    color: var(--cor4);
}
div.video
{
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.5%;

    position: relative;
}
div.video > iframe
{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
main img
{
    width: 100%;
}
main img.pequena
{
    max-width: 350px;
    display: block;
    margin: auto;
}
aside
{
    background-color: var(--cor0);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px #00000048;
}
aside > ul
{
    list-style-type: '\2714\00a0\00a0'; /*n compativel com todo navegador*/
    list-style-position: inside;
    columns: 2;
}
aside h3
{
    background-color: var(--cor4);
    color: white;
    text-align: center;

    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}
aside a
{
    background-color: var(--cor1);
}

footer
{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}