@charset "UTF-8";
@font-face {
    font-family: 'android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body
{
    background-color: #c5ebd6;
}