*
{
    font-family: Arial, Helvetica, sans-serif;
}
body
{
    background-color: rgba(0, 0, 0, 0.558);
    color: aliceblue;
}
h1
{
    background-color: black;
    height: 300px;
    width: 400px;
    padding: 5px;

    border-width: 10px;
    border-style: solid;
    border-color: aqua;
    border-radius: 10px;
    border-top-color: rgb(255, 0, 140);

    margin: 10px;

    outline: 5px;
    outline-style: dashed;
    outline-color: pink;
}
a
{
    border-width: 2px;
    border-style: dotted;
    border-color: blanchedalmond;
    padding: 3px;
    display: block;
}