body
{
    background-color: rgba(0, 0, 0, 0.558);
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
table
{
    border-collapse: collapse;
    width: 300px;
    height: 300px;
}
td
{
    border: 2px solid black;
    text-align: center;
}