body
{
    background-color: rgba(0, 0, 0, 0.519);
    color: rgb(243, 207, 100);
    font: normal 11pt arial;
}
h1
{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}
h2
{
    color: antiquewhite;
}