*
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
}
body
{
    background-color: rgba(0, 0, 0, 0.558);
    color: aliceblue;
}
header
{
    background-color: darkgreen;
    height: 200px;
    border-radius: 0px 0px 30px 0px;
    margin-right: 1%;
}
h1
{
    padding: 75px;
    text-align: center;
}
section
{
    padding: 5%;
}