@charset "UTF-8";
*
{
    font-family: Arial, Helvetica, sans-serif;
}
body
{
    background-color: #3d3d3d;
    color: aliceblue;
    margin: 0px;
}
header
{
    background-color: #3c3c3c;
    border-bottom: 1px solid aliceblue;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.712);
}
nav
{
    font-size: 3em;
    display: inline-block;
}
div
{   
    width: 100px;
    display: inline-block;
}
div > a
{
    display: none;
}

.sem_decor
{
    text-decoration: none;
    color: white;
}
h1#teutubo
{
    display: inline-block;
}
main
{
    padding-top: 10%;
    text-align: center;
}
.imagem
{
    height: 40%;
    width: 40%;
}
