body
{
    background-color: rgba(0, 0, 0, 0.558);
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
div
{
    display: inline-block; /*não necessariamente fixa a posição*/
    background-color: black;
    border: 1px solid white;
    text-align: center;
    height: 200px;
    width: 200px;
}

div > p
{
    display: none;
}

div:hover > p
{
    display: block;
    color: black;
}

div:hover
{
    background-color: red;
}