*
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
}
body
{
    background-color: rgba(0, 0, 0, 0.558);
    color: aliceblue;
}
header
{
    background-color: darkred;
    height: 200px;
    border-radius: 0px 0px 30px 0px;
    margin-right: 15px;
}
header > h1
{
    padding-top: 75px;
    text-align: center;
}
nav
{
    margin: 10px;
}
nav > p
{
    height: 30px;
}
p > a
{
    text-decoration: none;
    color: aliceblue;
}
a:hover
{
    color: aqua;
}