body
{
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    background-color: #6d6d6d;
}
table
{
    width: 400px;
    height: 400px;
    border-collapse: collapse;
    border: 3px solid black;
}
tr
{
    background-color: rgb(255, 0, 0);
}
td
{
    border: 1px solid black;
    padding: 10px;
    text-align: right;
    vertical-align: top;
}
.numero
{
    text-align: left;
    vertical-align: bottom;
}

.linha
{
    background-color: black;
}
.linha > td 
{
    border-color: red;
}
.dado
{
    background-color: aquamarine;
    color: black;
}