body
{
    /* 
    background-color: black;
    background-image: url('../midia/Imagens/fundos/wallpaper002.jpg');
    background-position: center top;
    background-repeat: no-repeat ;
    background-size: cover;
    background-attachment: fixed;
    */

    background: black url('../midia/Imagens/fundos/wallpaper002.jpg') center top no-repeat fixed;
    
    background-size: cover;
}

main
{
    background-color: white;
    
    max-width: 400px;
    padding: 10px;
    margin: auto;
    border: 1px solid darkblue;
    border-radius: 15px;
}