@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

:root
{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}
*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}
html, body
{   
    min-height: 100%;
    background-color: #f5f5dc;
    font-family: var(--fonte1);
}
header
{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1
{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 4em;
}
header > p
{
    padding-bottom: 50px;
}
a
{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
a:hover
{
    text-decoration: underline;
}
section
{
    padding: 10vh 0vh;

    line-height: 2em;
    padding-left: 30px;

    font-family: var(--fonte3);
}
section > p 
{
    padding-bottom: 2em;
}
.imagem
{
    background-color: black;
    color: white;
    box-shadow: inset 6px 6px 13px 0px #00000071;
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.imagem > p
{
    display: inline-block;
    background-color: #00000071;
    padding: 0px 2px;
    text-shadow: 1px 1px 1px black;
}
#flor
{
    background-image: url('cordel/background001.jpg');

}
#folhas
{
    background-image: url('cordel/background002.jpg');
}

footer
{
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}